[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb.git
	ignore = untracked
[submodule "pugixml"]
	path = pugixml
	url = https://github.com/zeux/pugixml.git
	ignore = untracked
[submodule "miniz"]
	path = miniz
	url = https://github.com/richgel999/miniz.git
	ignore = untracked
[submodule "SDL"]
	path = SDL
	url = https://github.com/heluca/SDL.git
	branch = write-android
	ignore = untracked
[submodule "nanovgXC"]
	path = nanovgXC
	url = https://github.com/styluslabs/nanovgXC.git
	ignore = untracked
[submodule "ulib"]
	path = ulib
	url = https://github.com/heluca/ulib.git
	ignore = untracked
[submodule "usvg"]
	path = usvg
	url = https://github.com/heluca/usvg.git
	ignore = untracked
	branch = textbox
[submodule "ugui"]
	path = ugui
	url = https://github.com/heluca/ugui.git
	branch = textbox
	ignore = untracked
